@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
.section-1 {
  margin-bottom: 100px;
}

.section-1 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 142px;
}

.section-1 header img {
  width: 170px;
}

.section-1 header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.section-1 header nav a {
  color: #CCCCCC;
  font-size: 18px;
}

.section-1 header nav a:last-child {
  color: #FF3998;
}

.section-1 .hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1 .hero-container .hero-text h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #FF3998;
  padding-bottom: 18px;
}

.section-1 .hero-container .hero-text b {
  color: white;
  font-weight: 900;
  font-size: 96px;
}

.section-1 .hero-container .hero-text p {
  padding: 20px 0;
  color: #CCCCCC;
  font-size: 20px;
}

.section-1 .hero-container .hero-text button {
  background-color: transparent;
  color: white;
  outline: none;
  border: 2px solid #FF3998;
  border-radius: 50px;
  padding: 22px 52px;
  font-weight: 600;
  font-size: 20px;
}

.section-1 .hero-container .hero-img {
  position: relative;
}

.section-1 .hero-container .hero-img img {
  margin-right: 160px;
  width: 300px;
}

.section-1 .hero-container .hero-img .back {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  border-radius: 80%;
  background-color: #FF3998;
  width: 300px;
  height: 350px;
}

.section-2 .upcell-container {
  position: relative;
  background-image: url(../../assets/images/background.svg);
  background-position: center;
  height: 320px;
  border-radius: 16px;
  padding: 54px 0 64px 64px;
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-2 .upcell-container .left img {
  margin-bottom: 26px;
}

.section-2 .upcell-container .left h3 {
  font-size: 43px;
  font-weight: 500;
  color: #111111;
  margin-bottom: 24px;
}

.section-2 .upcell-container .left p {
  font-size: 20px;
}

.section-2 .upcell-container .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-2 .upcell-container .cards .card .card-img {
  width: 230px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.section-2 .upcell-container .cards .card .card-text {
  padding: 10px;
  background-color: #eeeeee;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.section-2 .upcell-container .cards .card .card-text .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-2 .upcell-container .cards .card .card-text .top p {
  font-weight: 500;
  font-size: 9px;
}

.section-2 .upcell-container .cards .card .card-text .top p:first-child {
  color: #FF8139;
}

.section-2 .upcell-container .cards .card .card-text .top p:last-child {
  color: #777777;
}

.section-2 .upcell-container .cards .card .card-text .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-2 .upcell-container .cards .card .card-text .center div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.section-2 .upcell-container .cards .card .card-text .center p {
  font-weight: 500;
  font-size: 14px;
  color: #111111;
}

.section-2 .upcell-container .cards .card .card-text .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12.9207px;
  color: #777777;
}

.section-2 .upcell-container .cards .card:first-child {
  position: absolute;
  top: -50px;
  right: 300px;
  z-index: 22;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.section-2 .upcell-container .cards .card:last-child {
  position: absolute;
  top: -25px;
  right: 150px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.section-2 .upcell-container .cards .card:last-child .card-text {
  background-color: #111111;
}

.section-2 .upcell-container .cards .card:last-child .card-text .center p {
  color: white;
}

.section-2 .press {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 120px;
}

.showcase-container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding-bottom: 54px;
}

.showcase-container .text b {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: white;
}

.showcase-container .text p {
  font-size: 20px;
  color: #999999;
}

.showcase-container .text p span {
  border-bottom: 2px solid #999999;
}

.showcase-container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showcase-container .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.showcase-container .cards .card .card-text {
  background-color: black;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.showcase-container .cards .card .card-text .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase-container .cards .card .card-text .top p {
  font-weight: 500;
  font-size: 12px;
}

.showcase-container .cards .card .card-text .top p:first-child {
  color: #FF8139;
}

.showcase-container .cards .card .card-text .top p:last-child {
  color: #777777;
}

.showcase-container .cards .card .card-text .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase-container .cards .card .card-text .center p {
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.showcase-container .cards .card .card-text .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase-container .cards .card .card-text .bottom p {
  font-size: 18px;
  color: #777777;
}

.section-3 {
  margin: 120px 0;
  width: 100%;
  background-color: #FF8139;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 40px;
  padding: 80px 80px 0 80px;
}

.section-3 .back {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 200px;
  background-color: #FF3998;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.section-3 .left-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.section-3 .left-text b {
  font-size: 40px;
  line-height: 48px;
  color: #111111;
}

.section-3 .left-text p {
  font-size: 20px;
  color: #111111;
}

.section-3 .left-text p span {
  border-bottom: 2px solid #111111;
}

.section-3 .left-text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  cursor: pointer;
}

.section-3 .left-text div p {
  color: #111111;
}

.section-3 .right-img {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section-3 .right-img div {
  margin-left: 50px;
  margin-bottom: 100px;
}

.section-3 .right-img div p {
  font-weight: 500;
}

.section-3 .right-img div p:nth-child(1) {
  font-size: 12px;
  color: white;
  padding-bottom: 12px;
}

.section-3 .right-img div p:nth-child(2) {
  font-size: 20px;
  color: #111111;
  padding-bottom: 12px;
}

.section-3 .right-img div p:nth-child(3) {
  font-size: 18px;
  color: #777;
}

.section-4 {
  position: relative;
  width: 100%;
  background-color: #39FFA0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 40px;
  margin-bottom: 120px;
  padding: 80px;
}

.section-4 .back {
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 400px;
  height: 200px;
  background-color: #FF8139;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.section-4 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}

.section-4 .card .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  background-color: #111111;
  padding: 25px;
  border-radius: 0 0 17px 17px;
}

.section-4 .card .card-text .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-4 .card .card-text .top p {
  font-size: 13px;
  font-weight: 500;
}

.section-4 .card .card-text .top p:first-child {
  color: #FF8139;
}

.section-4 .card .card-text .top p:first-child {
  color: #777;
}

.section-4 .card .card-text .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-4 .card .card-text .center p {
  font-size: 21px;
  color: white;
}

.section-4 .card .card-text .center div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.section-4 .card .card-text .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-4 .card .card-text .bottom p {
  color: #999999;
  font-size: 19px;
}

.section-4 .left-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.section-4 .left-text b {
  font-size: 40px;
  line-height: 48px;
  color: #111111;
}

.section-4 .left-text p {
  font-size: 20px;
  color: #555555;
}

.section-4 .left-text p span {
  border-bottom: 2px solid #555555;
}

.section-4 .left-text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  cursor: pointer;
}

.section-4 .left-text div p {
  color: #111111;
}

.section-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.section-5 .card {
  background: #555555;
  border-radius: 16px;
  padding: 80px;
}

.section-5 .card img {
  display: block;
  margin-bottom: 32px;
}

.section-5 .card b {
  font-weight: 500;
  font-size: 40px;
  color: white;
}

.section-5 .card p {
  padding-top: 32px;
  font-size: 19px;
  color: #CCCCCC;
}

.section-6 {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  overflow: hidden;
}

.section-6 .hero-text h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #FF3998;
  padding-bottom: 18px;
}

.section-6 .hero-text b {
  color: white;
  font-weight: 900;
  font-size: 96px;
}

.section-6 .hero-text p {
  padding: 20px 0;
  color: #CCCCCC;
  font-size: 20px;
}

.section-6 .hero-text button {
  background-color: transparent;
  color: white;
  outline: none;
  border: 2px solid #FF3998;
  border-radius: 50px;
  padding: 22px 52px;
  font-weight: 600;
  font-size: 20px;
}

.section-6 .hero-img {
  position: relative;
}

.section-6 .hero-img img {
  margin-right: 160px;
}

.section-6 .hero-img .back {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  border-radius: 80%;
  background-color: #FF3998;
  width: 200px;
  height: 350px;
}

footer {
  padding: 120px 0 120px 0;
}

footer .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}

footer .footer__top .top__left p {
  padding: 30px 0;
  font-size: 20px;
  color: #ccc;
}

footer .footer__top .top__left .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

footer .footer__top .top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

footer .footer__top .top__right div b {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #CCCCCC;
  padding-bottom: 24px;
}

footer .footer__top .top__right div a {
  display: block;
  font-size: 20px;
  color: #ccc;
}

footer .footer__top .top__right div a:nth-child(3) {
  padding: 10px 0;
}

footer .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__bottom p {
  font-size: 20px;
  color: #777;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #111111;
  padding: 50px 60px 0 60px;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */