.section-4  {
    position: relative;
    width: 100%;
    background-color: #39FFA0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;

    margin-bottom: 120px;
    
    .back {
        position: absolute;

        left: -20px;
        bottom: 0;
        width: 400px;
        height: 200px;
        background-color: #FF8139;

        filter: blur(100px);
    }

    padding: 80px;
    .card {
        display: flex;
        flex-direction: column; 
        position: relative;       
        z-index: 1;

        .card-text {
            display: flex;
            flex-direction: column;
            gap: 13px;
            background-color: #111111;
            padding: 25px;

            border-radius: 0 0 17px 17px;
            .top {
                display: flex;
                justify-content: space-between;

                p {
                    font-size: 13px;
                    font-weight: 500;

                   
                    &:first-child {
                        color: #FF8139;
                    }
                    &:first-child {
                        color: #777;
                    }
                }

            }
            .center {
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 21px;
                    color: white;
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                p {
                    color: #999999;
                    font-size: 19px;
                }
            }
        }
    }

    .left-text {
        display: flex;
        flex-direction: column;
        gap: 32px;
        b {
            font-size: 40px;
            line-height: 48px;
            color: #111111;
        }

        p {
            font-size: 20px;
            color: #555555;
            span {
                border-bottom: 2px solid #555555;
            }
        }

        div {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;

            p  {
                color: #111111;
            }
        }
    }
}