.section-2 {
    .upcell-container {
        position: relative;
        background-image: url(../../assets/images/background.svg);
        background-position: center;
        height: 320px;
        border-radius: 16px;
        padding: 54px 0 64px 64px;
        margin-bottom: 120px;


        display: flex;
        justify-content: space-between;

        .left {
            img {
                margin-bottom: 26px;
            }

            h3 {
                font-size: 43px;
                font-weight: 500;
                color: #111111;
                margin-bottom: 24px;
            }

            p {
                font-size: 20px;
            }
        }


        .cards {

            .card {
                display: flex;
                flex-direction: column;

                .card-img {
                    width: 230px;
                    height: 200px;
                    object-fit: cover;
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                }
                .card-text {
                    padding: 10px;
                    background-color: #eeeeee;
                    border-bottom-left-radius: 16px;
                    border-bottom-right-radius: 16px;

                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .top {
                        display: flex;
                        justify-content: space-between;

                        p {
                            font-weight: 500;
                            font-size: 9px;
    
                            &:first-child {
                                color: #FF8139;
                            }
                            &:last-child {
                                color: #777777;
                            }
                        }
                    }

                    .center {
                        display: flex;
                        justify-content: space-between;
                        div {
                            display: flex;
                            align-items: center;
                            gap: 4px;
                        }

                        p {
                            font-weight: 500;
                            font-size: 14px;
                            color: #111111;
                        }
                    }

                    .bottom {
                        display: flex;
                        justify-content: space-between;
                        font-size: 12.9207px;
                        color: #777777;
                    }
                }

                &:first-child {
                    position: absolute;
                    top: -50px;
                    right: 300px;
                    z-index: 22;
                    transform: rotate(-5deg);
                }

                &:last-child {
                    position: absolute;
                    top: -25px;
                    right: 150px;
                    .card-text {
                        background-color: #111111;
                        .center {
                            p {
                                color: white;
                            }
                        }
                    }

                    transform: rotate(5deg);
                }
            }
        }
    }

    .press {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 120px;
    }
}

.showcase-container {
    .text {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-bottom: 54px;
        b {
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            color: white;
        }

        p {
            font-size: 20px;
            color: #999999;

            span {
                border-bottom: 2px solid #999999;
            }
        }
    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .card {
            display: flex;
            flex-direction: column;
            .card-text {
                background-color: black;
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 12px;

                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-weight: 500;
                        font-size: 12px;

                        &:first-child {
                            color: #FF8139;
                        }
                        &:last-child {
                            color: #777777;
                        }
                    }
                }

                .center {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-weight: 500;
                        font-size: 20px;
                        color: white;
                    }
                }

                .bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-size: 18px;
                        color: #777777;
                    }
                }
            }
        }
    }
}